<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/slider :: slider"></div>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Basic Tables </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div class="card-body">
                <div th:switch="${books}" class="container my-5">
                    <p class="card-description"> Add class <code>.table-{color}</code></p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ISBN </th>
                            <th>Book Name</th>
                            <th>Serial Name</th>
                            <th>Description</th>
                            <th>Detail</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book : ${books}">
                            <td th:text="${book.isbn}"></td>
                            <td th:text="${book.name}"></td>
                            <td th:text="${book.serialName}"></td>
                            <td th:text="${book.description}"></td>
                            <td><a th:href="@{/book/{id}(id=${book.id})}" class="btn btn-primary"><i class="fas fa-marker ml-2"></i></a></td>
                            <td><a th:href="@{/update/{id}(id=${book.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                            <td><a th:href="@{/remove-book/{id}(id=${book.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:if="${books.totalPages > 0}" class="pagination"
                         th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/templates/books(size=${books.size}, page=${pageNumber})}"
                           th:text=${pageNumber}
                           th:class="${pageNumber==books.number + 1} ? active"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>

</html>