<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">

    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
<div class="container-scroller">
    <span th:replace="fragments/header :: header"></span>


    <div class="container-fluid page-body-wrapper">
        <span th:replace="fragments/sidebar :: sidebar"></span>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h1 class="page-title"> List of Reservations </h1>
                    <div class="text-center mt-2">
                        <form th:action="@{/searchReservation}" class="form-inline">
                            <input class="form-control mr-sm-2" name="keyword" id="keyword" type="text" placeholder="Search" aria-label="Search" th:value="${keyword}">
                            <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 stretch-card">
                        <div class="card">
                            <div class="card-body">


                                <div th:switch="${reservations}" class="container my-5">
                                    <p class="my-5">
                                        <a th:href="@{/addReservation}" class="btn btn-gradient-primary btn-rounded btn-fw">
                                             Add Reservation
                                        </a>

                                    </p>
                                </div>


                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Reservation ID</th>
                                        <th>Member</th>
                                        <th>Book</th>
                                        <th>Status</th>
                                        <th>Detail</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="reservation : ${reservations}">
                                        <td th:text="${reservation.id}"></td>
                                        <td th:text="${reservation.member.name}"></td>
                                        <td th:text="${reservation.book.name}"></td>
                                        <td>
                                            <label th:class="${reservation.status == 'reserved' ? 'badge badge-warning' : 'badge badge-success'}" th:text="${reservation.status}"></label>
                                        </td>



                                        <td>
                                            <a th:href="@{/reservation/{id}(id=${reservation.id})}" class="btn btn-outline-info btn-fw">
                                               Detail
                                            </a>
                                        </td>
                                        <td>
                                            <a th:href="@{/updateReservation/{id}(id=${reservation.id})}" class="btn btn-outline-dark btn-fw">
                                                Update
                                            </a>
                                        </td>
                                        <td>
                                            <a th:href="@{/deleteReservation/{id}(id=${reservation.id})}" class="btn btn-outline-danger btn-fw">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/vendors/js/vendor.bundle.base.js"></script>

<script src="/js/off-canvas.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/todolist.js"></script>
<script src="/js/jquery.cookie.js"></script>

</body>
</html>