<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">

    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
<div class="container-scroller">
    <span th:replace="fragments/header :: header"></span>


    <div class="container-fluid page-body-wrapper">
        <span th:replace="fragments/sidebar :: sidebar"></span>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title"> List of Members</h3>
                    <div class="search-field d-none d-md-block">
                        <form th:action="@{/searchMember}" class="form-inline">
                            <input class="form-control mr-sm-2" name="keyword" id="keyword" type="text" placeholder="Search" aria-label="Search" th:value="${keyword}">
                            <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>



                </div>
                <div class="row">
                    <div class="col-lg-12 stretch-card">
                        <div class="card">
                            <div class="card-body">


                                <div th:switch="${members}" class="container my-5">
                                    <p class="my-5">
                                        <a th:href="@{/add-member}" class="btn btn-gradient-primary btn-rounded btn-fw">
                                             Add Member
                                        </a>
                                        <a th:href="@{/export/all-member}" class="btn btn-gradient-info btn-rounded btn-fw">
                                            <i class="fas fa-file-csv ml-2"></i> Export CSV
                                        </a>
                                    </p>
                                </div>

                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID Card</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Detail</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="member : ${members}">
                                        <td th:text="${member.idCard}"></td>
                                        <td th:text="${member.name}"></td>
                                        <td th:text="${member.email}"></td>
                                        <td th:text="${member.phone}"></td>
                                        <td><a th:href="@{/member/{id}(id=${member.id})}" class="btn btn-outline-info btn-fw">Detail</a></td>
                                        <td><a th:href="@{/update-member/{id}(id=${member.id})}" class="btn btn-outline-dark btn-fw">Update</a></td>
                                        <td><a th:href="@{/remove-member/{id}(id=${member.id})}" class="btn btn-outline-danger btn-fw">Delete</a></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/vendors/js/vendor.bundle.base.js"></script>

<script src="/js/off-canvas.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/todolist.js"></script>
<script src="/js/jquery.cookie.js"></script>

</body>
</html>