<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">

  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
<div class="container-scroller">
  <span th:replace="fragments/header :: header"></span>

  <div class="container-fluid page-body-wrapper">
    <span th:replace="fragments/sidebar :: sidebar"></span>

    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title"> Update Reservation </h3>

        </div>
        <div class="row">

          <div class="col-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Update Publisher</h4>
                <form action="#" th:action="@{/updateReservation/{id}(id=${reservation.id})}" method="post" th:object="${reservation}">
                  <div class="row">

                    <div class="form-group col-md-8">
                      <label for="bookId" class="col-form-label">Book:</label>
                      <select class="form-control" id="bookId" name="bookId" th:field="*{book.id}">
                        <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.name}"></option>
                      </select>
                    </div>

                    <div class="form-group col-md-8">
                      <label for="memberId" class="col-form-label">Member:</label>
                      <select class="form-control" id="memberId" name="memberId" th:field="*{member.id}">
                        <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.name}"></option>
                      </select>
                    </div>

                    <div class="form-group col-md-8">
                      <label for="reservationDate" class="col-form-label">Reservation Date:</label>
                      <input type="date" class="form-control" id="reservationDate" name="reservationDate" th:field="*{reservationDate}">
                    </div>

                    <div class="form-group col-md-8">
                      <label for="returnDate" class="col-form-label">Return Date:</label>
                      <input type="date" class="form-control" id="returnDate" name="returnDate" th:field="*{returnDate}">
                    </div>

                    <div class="form-group col-md-8">
                      <label for="status" class="col-form-label">Status:</label>
                      <select class="form-control" id="status" name="status" th:field="*{status}">
                        <option value="reserved">Reserved</option>
                        <option value="returned">Returned</option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <input type="submit" class="btn btn-success" value="Update">
                    </div>

                  </div>
                </form>


              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<script src="/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/vendors/select2/select2.min.js"></script>
<script src="/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/js/off-canvas.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/todolist.js"></script>
<script src="/js/jquery.cookie.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/js/file-upload.js"></script>
<script src="/js/typeahead.js"></script>
<script src="/js/select2.js"></script>
<!-- End custom js for this page -->
</div>
</body>
</html>